.post{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.post-header{

    display:flex;

    align-items:center;

    gap:12px;

}

.post-footer{

    display:flex;

    gap:12px;

}